h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 500;
    line-height: 130%;
}

p {
  text-align: left;
  font-size: 120%;
  line-height: 150%;
  margin-bottom: 1ex;
}

b {
  font-weight: 600;
}

header {
  font-size: 110%;
  padding-bottom: 0.5ex;
}

.navbar-brand {
  font-size: 160%;
  font-weight: 400;
}
.content li {
  font-size: 110%;
  line-height: 150%;
}

.section ul {
  padding-left: 0.5ex;
}

.section li {
  list-style-type: none;
}

/* Centering and floating images, from http://www.ebadf.net/2016/10/19/centering-images-in-hugo/#the-solution */
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}