{{ define "main" }}
<article class="w-100">
<!--
 <h1 class="f4 bg-black-05 br3 br--top black-60 mv0 pv2 ph3">{{ .Description | markdownify }}</h1> -->
 <div class="mr3 pa2 fr w-20 ba b--black-10">
   <p class="f6 lh-copy measure">
     {{- .Content -}}
   </p>
 </div>
</article>

 <article class="w-100">
   <aside class="flex-ns flex-wrap justify-around mt5">
   {{ range .Paginator.Pages }}
    <div class="relative w-90-l mb4 bg-white mr2 pb3">
      {{ .Render "summary" }}
      <a class="ml4 pa2 bg-black-10 fw6" href="{{.Permalink}}">Läs!</a>
    </div>
   {{ end }}
  </aside>
 </article>

<div class="tc">
{{ template "_internal/pagination.html" . }}
</div>

{{ end }}
