{{ define "main" }}

<section id="list">

    {{ $baseurl := .Site.BaseURL }}

    {{ if eq .Data.Singular "tag" }}
        <h2>#{{ .Title | lower }}</h2>
    {{ else }}
        <h2>{{ .Title }}</h2>
    {{ end }}

    {{ .Content }}

    {{ range (.Paginate (.Data.Pages.GroupByDate "2006")).PageGroups  }}

    <h3>{{ .Key }}</h3>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
            <time class="date-meta">{{ .Date.Format "2 Jan" }}</time>
        </li>
        {{ end }}
    </ul>

    {{ end }}

</section>

{{ template "_internal/pagination.html" . }}

{{ end }}
