{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex-l flex-wrap-reverse justify-between mw8 center ph3">

    {{ range  (.Paginator 1).Pages }}
    <article class="w-60-l mt4">

      <header class="w-100">
        <h1 class="f1 athelas mt3 mb0">
          {{- .Title }}
          {{ if .Params.draft }}(DRAFT){{end}}
        </h1>
        {{ if not .Date.IsZero }}
        <time class="f6 mv2 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
          {{- .Date.Format (default "January 2, 2006" .Site.Params.date_format) -}}
        </time>
        {{end}}
      </header>

      <div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links nested-img {{ $.Param "text_color" | default "mid-gray" }} pr4-l w-100">
        {{- .Content -}}
      </div>

      <div>
      {{ with .PrevInSection }}
        <a class="f6 link dim br1 ba bw1 ph3 pv2 mb2 dib near-black sans-serif" href="{{.Permalink}}">&laquo; {{ .Title }}</a>
      {{ end }}
      {{ with .NextInSection }}
        <a class="f6 link dim br1 ba bw1 ph3 pv2 mb2 dib near-black sans-serif" href="{{.Permalink}}">{{ .Title }} &raquo;</a>
      {{ end }}
      </div>

    </article>
    {{ end }}

    <aside class="w-30-l mt2">
      <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
        <h1 class="f4 bg-black-05 br3 br--top black-60 mv0 pv2 ph3">{{ .Description | markdownify }}</h1>
        <div class="pa3 bt b--black-10">
          <p class="f6 f5-ns lh-copy measure">
            {{- .Content -}}
          </p>
        </div>
      </article>

    </aside>

  </article>
{{ end }}
