<div class="warning">
  <div class="warning warning-icon" style="float: left;">
    <i class="fa fa-exclamation-triangle fa-lg"></i>
  </div>
  <div class="warning warning-content">
    {{.Get "msg"}}
  </div>
</div>
