<aside>
  <ul>
    <li>
      <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "2 Jan 2006" }}
        {{ if .Params.lastmod }}
          - Updated: <time class="post-date" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Lastmod.Format "2 Jan 2006" }}
        {{ end }}
      </time>
    </li>
    {{ if .Params.categories }}
    <li>
      Categories:
      <!--em-->
        {{ range $i, $c := .Params.categories }}
            {{ if $i }}, {{ end }}
            <a href="/categories/{{$c | urlize }}/">{{ $c }}</a>
        {{ end }}
      <!-- /em  -->
    </li>
    {{ end }}

    {{ if .Params.tags }}
    <li>
      Tagged:
      <!-- em -->
        {{ range $i, $t := .Params.tags }}
          {{ if $i }}, {{ end }}
          <a href="/tags/{{$t | urlize }}/">#{{ $t }}</a>
        {{ end }}
      <!-- /em -->
    </li>
    {{ end }}

    <li>{{ .ReadingTime }} min read</li>
  </ul>
</aside>
