<li class="nav-item">
    <a class="nav-link active" href="{{ "/posts/" | absURL }}">Learning in public</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "/efraim/" | absURL }}">Kalla mej Efraim</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "/now/" | absURL }}">Now</a>
</li>
