<div class="f6 mv4 dib tracked">
  {{ range .Params.tags }}
   <span class="ph2">
     <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="link dim br1 dib near-black">
       🔖 {{ . }}
     </a>
   </span>
  {{ end }}
</div>
